@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  direction: rtl;
}

body {
  font-family: "Cairo", sans-serif;
  background: linear-gradient(
    135deg,
    #0f2027,
    #203a43,
    #2c5364
  ); /* خلفية تدرج داكنة أنيقة */
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #ffffff;
  line-height: 1.7;
  direction: rtl;
  scroll-behavior: smooth;
}

/* Scrollbar شكل جميل */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
